/* css styles */
body {
  font-family: "Times New Roman", Times, serif;
}


body {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.quarto-title-banner {
  display: none;
}

header {
  display: none;
}